#buttons {
  width: 100%;
  display: flex;
}

#buttons button {
  flex: 1 0 0;
  padding: 10px;
  border-radius: 25px;
  margin: 0 5px;
  background-color: transparent;
  border: none;
}

.active {
  background-color: #8b5a2b !important;
  color: #fff;
}

/* #buttons {
    
  width: 70px;
  height: 30px;
  background-color: rgb(176, 77, 77);
  border-color: none;
  border-radius: 20px;
  border: 0;
} */
