.loginBackground {
    background-image: url(./../../assets/images/catBg.webp);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 40% 80%;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginLogo {
    max-width: 278px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.loginStyles {
    padding: 48px 24px;

    background-color: white;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.formStyles {
    padding: 0 32px;
}

.questAlign {
    text-align: right;
    font-weight: bold;

    color: white;

    margin-top: 8px;
}


.btnContainer {
    margin: 0 32px;
}
