.layoutBackground {
    background-image: url(./../../assets/images/catBg.webp);

    height: 100vh;
}

.loginStyles {
    padding: 48px 24px;

    background-color: white;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255);

    margin: 0 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.btnContainer {
    margin: 0 32px;
}
